<div class="about-container">

  <article class="content-section">
    <section>
      <h2>פרופיל</h2>
      <p>
        MINISO הינה רשת קמעונאית למוצרי לייף סטייל המקדמת מוצרי צריכה גלובליים חכמים, מעוצבים ובמחירים נוחים.
      </p>
      <p>
        בהיצמדות לפילוסופיית החיים של “פשטות, טבע ואיכות טובה” והצעת המותג של “חזרה לטבע”, MINISO זוכה לפופולריות בקרב הצרכנים עם ערכי המותג המרכזיים של עדכון מוצרים מדי שבוע, תמחור ברמה נמוכה ומיקוד במגמות צריכה חכמות. MINISO מגדירה את המגמה של צריכת אישית ומושכלת בחזית הצריכה הביתית. נכון לעכשיו, MINISO הגיעה להסכמי שיתוף פעולה אסטרטגיים עם כ- 80 מדינות ואזורים, כולל ארה”ב, קנדה, רוסיה, סינגפור, איחוד האמירויות הערביות, קוריאה, מלזיה, הונג קונג (סין) ומקאו (סין), עם 4200 חנויות בעולם.
      </p>
    </section>

    <section>
      <h2>מיניסו לייף סטייל</h2>
      <p>
        MINISO היא לא רק מותג אלא גם סגנון חיים. היא לא נוצרה עם דגש על אופנה או כמוצרים שמאשרים מעמד מסוים.. להיפך, MINISO מבוססת על נקודת המבט של הצרכנים, כאשר מפתחים את המוצרים, שהם – חזרה למהות, לפונקציונליות ולטבע.
      </p>
      <p>
        MINISO מעשירה את חיינו עם מגוון רחב של מוצרים במחירים סבירים. היא כמו מצפן, מצביעה על כיוונים בסיסיים וטבעיים, על ידי מתן דרך פשוטה להשתמש במוצרים.
      </p>
    </section>

    <section>
      <h2>בחזרה למקורות</h2>
      <div class="image-box">
        <img src="img/hourse.jpg" alt="שקיעה בים">
      </div>
      <p>
        לטבע יש כוח קסם גדול. אנו בני האדם נהנים ממה שהטבע נותן לנו, אנחנו לומדים ליצור ממנו.
      </p>
      <p>
        MINISO מקדמת פילוסופיית חיים פשוטה וטבעית, עיצוב וייצור מוצרים מעולים במחירים כנים, תוך התחשבות במשאבי כדור הארץ, הסביבה, מיחזור ונושאים אחרים, באמת לחזור לטבע ולמהות הבסיסית של המוצר.
      </p>
      <p>
        MINISO מעשירה את חיינו עם מגוון רחב של מוצרים במחירים סבירים. היא כמו מצפן, המצביע על הבסיסי והטבעי ככדרך הפשוטה להשתמש במוצרים.
      </p>
    </section>

    <section>
      <h2>קיימות</h2>
      <div class="image-box">
        <img src="img/sea.jpg" alt="שקיעה בים">
      </div>
      <p>
        כחלק מהחברה, MINISO בוחנת באופן פעיל את המתאם בין סביבת כדור הארץ לבין הציוויליזציה האנושית, תוך תשומת לב לבעיות בריאותיות בקהילה ובאיכות הסביבה, על מנת להבטיח את בטיחותם של מוצרים או חומרים, מבלי להזניח כל השפעה על הסביבה ועל הטבע העלולה להתרחש כתוצאה מפעילותה. יתר על כן, MINISO מקפידה על העקרונות הבסיסיים של מוצרים באיכות גבוהה ומזעור טביעת הפחם. במקביל, MINISO, משתפת פעולה באופן קבוע עם ארגונים להגנת הסביבה, במטרה לספק סוגים שונים של מוצרים ידידותיים לסביבה ולצרכנים.
      </p>
    </section>
  </article>
</div>