
<footer class="footer">
  <div class="footer__container">
    
    <div class="footer__section footer__section--brand">
      <div class="footer__logo">MINISO</div>
      <div class="footer__socials">
        <a routerLink="/" class="footer__social-link"><i class="fab fa-instagram"></i></a>
        <a routerLink="/" class="footer__social-link"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">צור קשר</h3>
      <div class="footer__divider"></div>
      <ul class="footer__list">
        <li class="footer__item">שירות לקוחות: <a href="tel:1-700-00-00">1-700-00-00</a></li>
        <li class="footer__item">וואטסאפ: <a href="https://wa.me/972500000000" target="_blank">050-0000000</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">שירות לקוחות</h3>
      <div class="footer__divider"></div>
      <ul class="footer__list">
        <li class="footer__item"><a routerLink="/order-tracking">מעקב משלוחים</a></li>
        <li class="footer__item"><a routerLink="/returns">מדיניות החזרות</a></li>
        <li class="footer__item"><a routerLink="/faq">שאלות נפוצות</a></li>
      </ul>
    </div>

  </div>
</footer>