<div *ngIf="product" class="product-container">

  <div class="image-section">
    <img [src]="product.imageUrl" alt="{{ product.productName }}" />
  </div>

  <div class="details-section">
    <button (click)="backToProducts()">➡️</button>

    <h1 class="product-title">{{ product.productName }}</h1>

    <p class="product-description">
      {{ product.description }}
    </p>

    <h2 class="product-price">
      ₪ {{ product.price }}
    </h2>

    <button class="add-to-cart-btn" (click)="onAddToCart()">הוסף לסל 🛒</button>
  </div>

</div>