.product-card {
  cursor: pointer;
  text-align: center;
  padding: 15px;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 180px;
  height: auto;
}

.product-price {
  margin-top: 10px;
  font-weight: bold;
  color: #e60023;
}
