USE [master]
GO
/****** Object:  Database [MyWebApiShop]    Script Date: 26/02/2026 03:31:17 ******/
CREATE DATABASE [MyWebApiShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyWebApiShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyWebApiShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyWebApiShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyWebApiShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyWebApiShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyWebApiShop]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](30) NULL,
	[Address] [varchar](30) NULL,
	[Latitude] [decimal](10, 8) NULL,
	[Longitude] [decimal](11, 8) NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[ImageUrl] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrderSum] [decimal](10, 2) NULL,
	[UserID] [int] NOT NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CategoryID] [int] NULL,
	[Description] [varchar](100) NULL,
	[ImageUrl] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](max) NULL,
	[Method] [nvarchar](10) NULL,
	[Path] [nvarchar](max) NULL,
	[Referer] [nvarchar](max) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[RecordDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/02/2026 03:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](20) NULL,
	[Phone] [nchar](10) NULL,
	[City] [varchar](20) NULL,
	[Street] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [BranchName], [Address], [Latitude], [Longitude]) VALUES (1, N'סניף ירושלים', N'רחוב יפו 210', CAST(31.78940000 AS Decimal(10, 8)), CAST(35.20310000 AS Decimal(11, 8)))
INSERT [dbo].[Branches] ([BranchID], [BranchName], [Address], [Latitude], [Longitude]) VALUES (2, N'סניף בני ברק', N'רחוב רבי עקיבא 50', CAST(32.08330000 AS Decimal(10, 8)), CAST(34.83330000 AS Decimal(11, 8)))
INSERT [dbo].[Branches] ([BranchID], [BranchName], [Address], [Latitude], [Longitude]) VALUES (3, N'סניף פתח תקווה', N'דרך זאב זבוטינסקי 10', CAST(32.08710000 AS Decimal(10, 8)), CAST(34.88750000 AS Decimal(11, 8)))
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageUrl]) VALUES (1, N'כלי כתיבה', N'c_img/markers.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageUrl]) VALUES (2, N'מוצרים לבית', N'c_img/candles.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageUrl]) VALUES (3, N'בקבוקים', N'c_img/bottle.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Item] ON 

INSERT [dbo].[Order_Item] ([OrderItemID], [ProductID], [OrderID], [Quantity]) VALUES (1, 23, 1, 1)
INSERT [dbo].[Order_Item] ([OrderItemID], [ProductID], [OrderID], [Quantity]) VALUES (2, 1, 1, 1)
INSERT [dbo].[Order_Item] ([OrderItemID], [ProductID], [OrderID], [Quantity]) VALUES (3, 5, 2, 1)
SET IDENTITY_INSERT [dbo].[Order_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID], [Status]) VALUES (1, CAST(N'2026-02-10' AS Date), CAST(115.00 AS Decimal(10, 2)), 30, N'Delivered')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID], [Status]) VALUES (2, CAST(N'2026-02-15' AS Date), CAST(260.00 AS Decimal(10, 2)), 31, N'Shipped')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID], [Status]) VALUES (3, CAST(N'2026-02-20' AS Date), CAST(160.00 AS Decimal(10, 2)), 32, N'Accepted')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [CategoryID], [Description], [ImageUrl]) VALUES (1, N'מארז מרקרים צבעוניים', CAST(25.00 AS Decimal(10, 2)), 1, N'סט טושים להדגשה במגוון צבעים', N'p_img/markers.jpg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [CategoryID], [Description], [ImageUrl]) VALUES (2, N'נרות ריחניים עטופים', CAST(45.00 AS Decimal(10, 2)), 2, N'מארז נרות דקורטיביים באריזת מתנה', N'p_img/candles.jpg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [CategoryID], [Description], [ImageUrl]) VALUES (3, N'שלישיית נרות לב', CAST(40.00 AS Decimal(10, 2)), 2, N'מעמדי נרות מעוצבים בצורת לב', N'p_img/candles.avif')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingId], [Host], [Method], [Path], [Referer], [UserAgent], [RecordDate]) VALUES (1, N'localhost:44367', N'GET', N'/openapi/v1.json', N'https://localhost:44367/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36', CAST(N'2026-02-26T03:18:40.480' AS DateTime))
INSERT [dbo].[Rating] ([RatingId], [Host], [Method], [Path], [Referer], [UserAgent], [RecordDate]) VALUES (2, N'localhost:44367', N'GET', N'/api/Category', N'http://localhost:4200/', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36', CAST(N'2026-02-26T03:18:53.817' AS DateTime))
INSERT [dbo].[Rating] ([RatingId], [Host], [Method], [Path], [Referer], [UserAgent], [RecordDate]) VALUES (3, N'localhost:44367', N'GET', N'/api/Category', N'http://localhost:4200/', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36', CAST(N'2026-02-26T03:19:02.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [FirstName], [LastName], [Password], [Role], [Phone], [City], [Street]) VALUES (29, N'admin@myshop.co.il', N'ישראל', N'ישראלי', N'Admin@Pass2026!', N'admin', N'0501112223', N'ירושלים', N'מלכי ישראל 10')
INSERT [dbo].[Users] ([UserID], [Email], [FirstName], [LastName], [Password], [Role], [Phone], [City], [Street]) VALUES (30, N'yossi.l@gmail.com', N'יוסי', N'לוי', N'Yossi#9876', N'User', N'0524445556', N'בני ברק', N'חזון איש 40')
INSERT [dbo].[Users] ([UserID], [Email], [FirstName], [LastName], [Password], [Role], [Phone], [City], [Street]) VALUES (31, N'rivka.m@outlook.com', N'רבקה', N'כהן', N'Rivka@2024', N'User', N'0543332211', N'פתח תקווה', N'הרי קסל 5')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E098654B65]    Script Date: 26/02/2026 03:31:17 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345E1922F1]    Script Date: 26/02/2026 03:31:17 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_OrderItem_Orders]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_OrderItem_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
USE [master]
GO
